{% extends 'base.html' %}

{% block content %}
<h1>Mentions légales</h1>

<p>
En application de la Loi sur la Confiance dans l’Economie Numérique
(L. n° 2004-575 du 21 juin 2004), l’utilisateur du site est informé que le
présent site Internet Dont Forget Grandma, accessible par l’URL http://www.dontforgetgrandma.com (le « Site », le « Service »)
est édité et hébergé par :
</p>

<p>Thibault Jouannic<br />
EI Profession Libérale<br />
Siret : 51469122900025<br/>
06 30 47 30 50<br />
A1 301 Les lettres de mon Moulin<br/>
18 rue Ernest Michel<br />
34000 Montpellier<br />
Ci-après dénommé l'« Éditeur ».
</p>
{% endblock %}
