{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="center">{{ _('Create your account') }}</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3 well">
<form method="post" class="form" action="" id="payment-form">
    <p class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{ _('We will never spam you nor sell your data.') }}
    </p>
    <fieldset>
        {% include 'form_snippet.html' with form=form %}
    </fieldset>

    <div class="form-actions">
        <p>{% blocktrans %}
        By clicking the button below, you state that you have read and
        agreed to the <a target="_blank" href="/pages/cgv/">Service Agreement (new window)</a>.
        {% endblocktrans %}</p>
        <input id="submit-btn" type="submit" value="{{ _('Register') }}" class="btn btn-primary btn-large btn-block" />
    </div>

</form>

</div>
</div>

{% endblock %}
