{% load analytics compressed %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ _('Don\'t forget grandma!') }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% compressed_css "base" %}

        {% comment %} Only for test purpose: {% endcomment %}
        {% block extra_css %}{% endblock extra_css %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
        {% block extrahead %}{% endblock %}
    </head>

    <body>

        {% include 'navbar.html' %}

        <div class="container">

            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
            {% endif %}

            <div class="row"> <div class="span12">
            {% block content %} {% endblock %}
            </div> </div>

        </div>

        <footer>
            <div class="container">
            <div class="row"> <div class="span12">
                <p>
                    &copy; 2013 Thibault Jouannic – <a href="http://www.miximum.fr">Miximum.fr</a>
                    — <a href="{% url 'mentions_legales' %}">{{ _('Legal information') }}</a>
                    — <a href="{% url 'conditions_generales' %}">{{ _('Terms and conditions') }}</a>
                    — <a href="https://github.com/thibault/grandma">{{ _('Get the source') }}</a>
                </p>
                <p>
                    {{ _('This is a beta service. Use with care.') }}
                </p>
            </div> </div>
            </div>
        </footer>

        {% compressed_js "base" %}
        {% block extra-js %} {% endblock %}

        {% analytics_tag %}
    </body>
</html>
