{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
<h1 class="home">{{ _('Schedule text messages') }}</h1>
<p class="lead">
{% blocktrans %}Schedule text messages for yourself, your friends or your grandma.
They will be delivered at the specified date and time (your messages, not
your grandma).{% endblocktrans %}
</p>

<p class="lead center">
    <a href="{% url 'pricing' %}" class="btn btn-lg btn-primary">{{ _('View our pricing') }}</a>
</p>

</div>

<div id="features" class="row">
    <div class="col-md-4">
        <img src="{{ STATIC_URL }}/img/glyphicons_266_flag.png" />
        <h3>{{ _('International') }}</h3>
        <p>
            {% blocktrans %}You can send text messages in a lot of countries.
            Now you can have friends outside the United States.
            {% endblocktrans %}
        </p>
    </div>
    <div class="col-md-4">
        <img src="{{ STATIC_URL }}/img/glyphicons_401_github.png" />
        <h3>{{ _('Open-source') }}</h3>
        <p>
            {% blocktrans %}That's right, the <a href="https://github.com/thibault/grandma/">
            code source is fully available on Github</a>. You want to help us
            building a better service? You can.
            {% endblocktrans %}
        </p>
    </div>
    <div class="col-md-4">
        <img src="{{ STATIC_URL }}/img/glyphicons_088_adress_book.png" />
        <h3>{{ _('Address book') }}</h3>
        <p>
            {% blocktrans %}Save your favorites numbers in your address book,
            so you don't have to remember them every time.
            {% endblocktrans %}
        </p>
    </div>
</div>

{% endblock %}
