{% extends 'base.html' %}

{% block content %}
<h1>{{ _('Plan your text messages') }}</h1>

<div class="row">
<div class="well offset4 span4">
    <form method="post" action="">
    {% include 'form_snippet.html' with form=form inputclass="span4" %}
    <hr />
    <input type="submit" class="btn btn-primary btn-large btn-block"
           value="{{ _('Plan a text message') }}" />

    </form>
</div>
</div>
{% endblock %}

{% block extra-js %} {{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_when').datetimepicker({
        startDate: new Date(),
        language: 'fr',
    });
});
</script>
{% endblock %}
