{% extends 'base.html' %}

{% block content %}
<h1>Conditions générales de vente</h1>

<p>
En application de la Loi sur la Confiance dans l’Economie Numérique
(L. n° 2004-575 du 21 juin 2004), l’utilisateur du site est informé que le
présent site Internet Dont Forget Grandma, accessible par l’URL http://www.dontforgetgrandma.com (le « Site », le « Service »)
est édité et hébergé par :
</p>

<p>Thibault Jouannic<br />
EI Profession Libérale<br />
Siret : 51469122900025<br/>
06 30 47 30 50<br />
A1 301 Les lettres de mon Moulin<br/>
18 rue Ernest Michel<br />
34000 Montpellier<br />
Ci-après dénommé l'« Éditeur ».
</p>

<h2>Objet</h2>

<p>Les présentes conditions de vente (le « Contrat », les « CGV ») visent à définir les relations contractuelles entre l'Éditeur et l'utilisateur du site (l'« Utilisateur », l'« Internaute », « Vous ») et les conditions applicables à toute utilisation du Site. Toute utilisation du Site suppose l'adhésion sans réserve à ces conditions.</p>

<h2>Description du service</h2>

<p>Le Service est dédié à la programmations et l'envoi de sms vers le numéro personnel de l'Utilisateur ou celui de ses tiers proches — famille, amis — dans le but de planifier des rappels « pense-bête ».</p>

<h2>Politique d'utilisation</h2>

<p>En aucun cas, le Service ne peut-être utilisé en remplacement d'un forfait sms classique proposé par un opérateur téléphonique. Le Service est prévu pour une utilisation personnelle, et l'Utilisateur s'engage à ne pas communiquer ses paramètres d'accès à un tiers.</p>

<p>Seront considérés comme des abus d'utilisation l'envoi de sms qui n'ont pas vocation à être des « pense-bête » vers un destinataire unique. Cela inclus, de manière non exhaustive :</p>

<ul>
    <li>les sms publicitaires ;</li>
    <li>les sms envoyés dans le cadre de campagne promotionnelles ;</li>
    <li>les messages de service envoyés à grande échelle ;</li>
    <li>les messages d'information à portée politique ;</li>
    <li>les messages d'insulte, de harcèlement ;</li>
    <li>les messages de discussion, les « sextos » ;</li>
    <li>les messages qui tenteraient d'usurper l'identité d'un tiers ;</li>
    <li>n'importe quel message si son contenu est illégal ;</li>
</ul>

<p>Vous garantissez que les propriétaires des numéros que vous fournissez au Service, vers lequel des sms seront envoyés ont explicitement demandés ou acceptés à recevoir de tels messages, et vous vous engagez à les informer que vous êtes l'émeteur de ces messages.</p>

<p>De manière générale, vous vous engagez à ne rien faire d'illégal ni qui puisse placer l'Éditeur dans un embarras quelconque, et à utiliser ce service d'une manière respectueuse. </p>

<h2>Abonnement</h2>

<h3>Offres d'abonnement</h3>

<p>Différentes offres d'abonnements payants permettent d'accéder à différentes fonctionnalités du Site.</p>

<p>Les différentes offres d'abonnement sont présentées sur le Site. Les offres en vigueur sont celles affichées sur le Site au jour de l'enregistrement, l'Éditeur se réservant le droit de les modifier à tout moment.</p>

<h3>Offre gratuite</h3>

<p>Une offre gratuite, disponible pour les utilisateurs sans abonnements, est également disponible. Elle est limitée à l'enregistrement de trois rappels par jour et par personne. L'Éditeur se réserve le droit de modifier ou supprimer cette offre gratuite à tout moment. L'offre gratuite reste soumise à l'acceptation des présentes conditions d'utilisation.</p>

<h3>Tarifs</h3>

<p>Les prix affichés sur le Site sont des prix TTC en euro tenant compte de la TVA applicable au jour de la commande ; tout changement du taux pourra être répercuté sur le prix des produits ou des services.</p>

<p>L'Éditeur se réserve de modifier ses prix à tout moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l'acheteur.</p>

<h3>Modalités de souscription</h3>

<p>Pour souscrire à un abonnement au Service, l'Utilisateur doit cliquer sur le bouton de confirmation à l'issue de la commande. Un accusé de réception lui sera envoyé par mail ou par sms, aux adresses renseignées dans le formulaire de commande. Cet accusé de réception vaut acceptation de la commande par l'Éditeur et valide la transaction.</p>

<p>Les informations de paiement sont traitées directement par notre prestataire de paiement, Paymill Gmbh, et ne transitent en aucun cas par le serveur sur lequel est hébergé le Site.</p>

<p>l'Éditeur se réserve le droit de refuser toute commande d’un client, sans que celui-ci puisse prétendre à une quelconque indemnité à quelque titre que ce soit.</p>

<p>L'Utilisateur reconnaît que les données enregistrées sur le Site constituent la preuve de la transaction (type d’abonnement et date de souscription).</p>

<p>L’acceptation des cookies est indispensable pour commander sur le Site.</p>

<h3>Durée du contrat et renouvellement</h3>

<p>La durée ainsi que les conditions de renouvellement de chaque offre d’abonnement sont mentionnées sur le Site.</p>

<h3>Utilisation abusive et résiliation</h3>

<p>Un abonnement peut être résilié par l'Éditeur dans les cas suivants :</p>

<ul>
    <li>non respect des conditions d'utilisation ;</li>
    <li>non respect de l'abonnement nominatif ;</li>
</ul>

<p>Au cas ou il remarquerait une utilisation inhabituelle ou non conforme aux présentes conditions, l'Éditeur s'engage à contacter l'Utilisateur pour lui notifier les comportements concernés et lui donner l'occasion d'y mettre un terme. Il ne prendra l'initiative de la résiliation de l'abonnement que si son avertissement n'est pas suivi d'effet.</p>

<p>En cas de résiliation par l'Éditeur, le client ne pourra prétendre à aucun remboursement des sommes déjà versées.</p>

<h3>Rétractation</h3>

<p>Le client dispose d'une durée de 15 jours à compter de la date d'enregistrement de sa commande pour l'annuler.</p>

<h3>Résiliation et clôture de compte</h3>

<p>Le client peut à tout moment, à partir de sa page de récapitulatif de compte, annuler son abonnement et clôturer son compte. Les sommes déjà versées ne pourront donner lieu à aucun remboursement. </p>

<h2>Informations nominatives</h2>

<p>L'Éditeur s'engage à traiter toutes les informations nominatives qui transitent par le Service comme des informations confidentielles. Ces données ne seront utilisées qu'à des fins de bon fonctionnement du service et, le cas échéant, à des fins d'information sur le Service, l'offre souscrite ou le produit qui en est l'objet.</p>

<p>Ces données pourront éventuellement transiter par des services tiers, mais uniquement dans le cadre d'une délégation de service à un prestataire (ex: mailing list). En aucun cas les données de l'Utilisateur ne pourront être revendues.</p>

<p>Conformément à la loi informatique et libertés du 6 janvier 1978, l'Utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant.</p>

<h2>Propriété intellectuelle</h2>

<p>L'Éditeur est le titulaire exclusif de tous les droits de propriété intellectuelle portant tant sur la structure que sur le contenu du site, y compris la base de données, et ce dans le monde entier. L’extraction et l’utilisation à des fins professionnelles ou commerciales de tout ou partie de la base de données est interdite.</p>

<h2>Limitation ponctuelle du Service</h2>

<p>L'Éditeur se réserve le droit d'imposer des limitations techniques ponctuelles au Service et ce uniquement afin de préserver son bon fonctionnement.</p>

<h2>Limitation de responsabilité</h2>

<p>L'Éditeur propose le Service conformément à la réglementation française en vigueur. Sa responsabilité ne saurait être engagée en cas de non-respect de la législation d’un autre pays.</p>

<p>Dans la mesure ou le Service nécessite l'intervention de partenaires techniques, l'Éditeur ne peut garantir en aucun cas que les services proposés ne subiront aucune interruption. L’obligation de fourniture de l'Éditeur se limite à une obligation de moyens.</p>

<p>L'Éditeur ne saurait être tenu pour responsable de l’inexécution du Contrat conclu en cas de force majeure, de dysfonctionnement ou de perturbation des moyens de télécommunications. L'Éditeur n’encourra aucune responsabilité pour tous dommages directs ou indirects, perte d’exploitation, perte de profit, perte de chance, dommages ou frais, du fait de l'utilisation du Site.</p>

<h2>Informatique et liberté</h2>

<p>Le Site est déclaré sous le numéro (immatriculation en cours) auprès de la Commission Nationale Informatique et Libertés (CNIL) en application de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.</p>

<p>Chaque internaute ayant déposé des informations nominatives le concernant sur le Site dispose des droits d’opposition (article 38 de la loi), d’accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) de ces données. Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou l’utilisation, la communication ou la conservation est interdite.</p>

<p>Chaque internaute peut exercer ces droits en écrivant à l'Éditeur à l'adresse mentionnée dans les mentions légales.</p>

<h2>Textes applicables — Juridiction</h2>

<p>Les CGV sont soumises à la loi française. En cas de litige, l'Utilisateur s'adressera en priorité à l'Éditeur pour obtenir une solution amiable. À défaut, les juridictions de Montpellier (France) seront seules compétentes.</p>

{% endblock %}
