{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1 class="home">{{ _('Schedule text messages') }}</h1>

<div class="row">
<div class="span6">
<p class="lead">
{% blocktrans %}Schedule text messages for yourself, your friends or your grandma.
They will be delivered at the specified date and time (your messages, not
your grandma).{% endblocktrans %}
</p>

<p class="lead">
{% blocktrans %}Remind yourself about your grandma's party ; Send sexy messages
to your loved-one throughout the day ; Schedule birthday reminders for your friends.
{% endblocktrans %}
</p>

<p class="lead">
{{ _('Schedule and forget, we will do the rest.') }}
</p>

<p class="lead center">
    <a href="{% url 'register' %}" class="btn btn-large btn-warning">{{ _('Sign up') }}</a>
    {{ _('or') }}
    <a href="{% url 'pricing' %}" class="btn btn-large btn-success">{{ _('View our pricing') }}</a>
</p>

</div>
<div class="span6">
    <form class="well" method="post" action="">
    {% include 'form_snippet.html' with form=form inputclass="input-block-level" %}
    <hr />
    <input type="submit" class="btn btn-primary btn-large btn-block"
           value="{{ _('Try it for free') }}" />

    </form>
</div>
</div>

<hr id="pricing" />

<div class="row">
</div>

{% endblock %}

{% block extra-js %} {{ block.super }}
{% include 'reminder_form_js.html' %}
{% endblock %}
