{% extends "base.html" %}
{% block content %}

<h1 class="center">{{ _('Sign in') }}</h1>

<div class="row">
<div class="span4 offset4 well">
<form method="post" class="form" action="">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <p class="alert alert-error">
        {{ _('Your phone and password didn\'t match. Please try again.') }}
        </p>
    {% endif %}

    <input class="span4 input-large" type="text" name="username" placeholder="{{ _('Phone number') }}" />
    <input class="span4" type="password" name="password" placeholder="{{ _('Password') }}" />

    <p class="center">
        <a href="{% url 'password_reset' %}">{{ _('Forgot your password?') }}</a>
    </p>

    <div class="form-actions">
        <input type="submit" value="{{ _('Login') }}" class="btn btn-primary btn-large btn-block" />
        <input type="hidden" name="next" value="{% url 'home' %}" />
    </div>

</form>

</div>
</div>
{% endblock %}
