{% extends 'base.html' %}
{% block content %}

<h1 class="center">{{ _('So, you lost your password?') }}</h1>

<div class="row">
<div class="span4 offset4 well">
<form method="post" class="form" action="">
    {% csrf_token %}

    <p>{{ _("It's ok. It happens. We will send you a new one. We have plenty of them anyway.") }}</p>

    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}

    {% include 'field_snippet.html' with field=form.email inputclass='span4' %}

    <div class="form-actions">
        <input type="submit" value="{{ _('Get a new password') }}" class="btn btn-large btn-primary btn-block" />
    </div>
</form>
</div>
</div>
{% endblock %}
