<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_when').datetimepicker({
        startDate: new Date(),
        language: 'fr',
    });

    {% if user.is_authenticated %}
    $('#id_phone').typeahead({
        source: function(query, process) {
            $.getJSON('{% url 'contact_list_json' %}?query=' + query, function(data) {
                var contacts = $.map(data, function(contact) {
                    return contact[0] + ' ' + contact[1] + ' <' + contact[2] + '>';
                });
                process(contacts);
            });
        },
        updater: function(item) {
            var regex = new RegExp('\\+[0-9]+');
            var extract = regex.exec(item);
            return extract[0];
        },
        minLength: 3,
    });
    {% endif %}
});
</script>
