{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<h1>{{ _('Your address book') }}</h1>

<div class="row">
<div class="span9">
<form method="post" action="" id="delete-form">
    {% csrf_token %}
    {% render_table table %}

    <label for="mySubmit" class="btn btn-danger"><i class="icon-white icon-remove-sign"></i> {{ _('Delete') }}</label>
    <input id="mySubmit" name="_delete" type="submit" value="{{ _('Delete') }}" class="hidden" />

</form>
</div>

<div class="span3">
<form method="post" action="" id="delete-form">
    {% include 'form_snippet.html' with form=form %}
    <input type="submit" name="_create" value="{{ _('Create') }}" class="btn btn-block btn-primary" />
</form>
</div>
</div>
{% endblock %}

{% block extra-js %} {{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    // Click to select checkboxes
    var header_cb = $('#delete-form th input[type=checkbox]');
    var all_cbs = $('#delete-form td input[type=checkbox]');
    header_cb.click(function() {
        all_cbs.prop('checked', header_cb.is(':checked'));
    });
});
</script>
{% endblock %}
