{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
<h1>{{ _('Your reminders') }}</h1>

<form method="post" action="" id="delete-form">
    {% csrf_token %}
    {% render_table table %}

    <label for="mySubmit" class="btn btn-danger"><i class="icon-white icon-remove-sign"></i> {{ _('Delete') }}</label>
    <input id="mySubmit" type="submit" value="{{ _('Delete') }}" class="hidden" />

    <a href="{% url 'create_reminder' %}" class="btn btn-default">
        <i class="icon-plus-sign"></i>
        {{ _('Create a new reminder') }}
    </a>

</form>
{% endblock %}

{% block extra-js %} {{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    // Click to select checkboxes
    var header_cb = $('#delete-form th input[type=checkbox]');
    var all_cbs = $('#delete-form td input[type=checkbox]');
    header_cb.click(function() {
        all_cbs.prop('checked', header_cb.is(':checked'));
    });
});
</script>
{% endblock %}
